@font-face {
  font-family: fh_faith;
  src: url(/front-end/Fonts/fh_faith.otf);
}
@font-face {
  font-family: HomemadeApple-Regular;
  src: url(/front-end/Fonts/HomemadeApple-Regular.ttf);
}

$primaire: #f8ecf4;
$secondaire: rgb(207, 191, 191);
$tertiaire: purple;
/* -----header & footer -------- */
.header__style,
.footer__style {
  min-width: 320px;
  height: 200px;
}
.header__display,
.footer__display {
  display: flex;
  justify-content: space-around;
}
.header__color,
.footer__color {
  background-color: $secondaire;
}
.fa__box {
  margin: auto 0 auto 10px;
  /* font-size: 30px;
  color: $tertiaire; */
}
.fa__box-a {
  color: $tertiaire;
  margin: auto 0 auto 10px;
  font-size: 30px;
}
/* .fa-arrow-circle-left,
.fa-cart-arrow-down {
  color: $tertiaire;
  margin: auto 0 auto 10px;
  font-size: 30px;
} */
.logo__box-style {
  width: 250px;
  height: 80px;
  margin: auto 0 auto 15px;
}
.logo__box-display {
  display: flex;
  background-color: $primaire;
}
.logo__image-style {
  width: 50px;
  height: 45px;
  margin: auto 0;
}
.logo {
  margin: 15px;
}
.brand__font {
  font-family: fh_faith;
  font-size: 35px;
}
.brand__font-style {
  margin: auto;
}
.signature__style {
  margin: 80px auto;
  font-size: 16px;
  font-family: HomemadeApple-Regular;
}
/* ------- main part --------- */

#main__page-wrapper {
  min-width: 320px;
}
#main,
.main__product-style {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  min-width: 320px;
}
.main__color {
  background-image: url(front-end/images/background__img.jpg);
  background-repeat: round;
  min-width: 320px;
  min-height: 800px;
}

/* --------section part-------- */
.section__style {
  margin-top: 50px;
  min-width: 320px;
}
.section__aside {
  min-width: 320px;
  margin: 0 auto;
}
/* --------aside part --------- */
.aside__div-display {
  text-align: center;
  min-width: 250px;
  min-height: 200px;
  margin: 0 auto;
}
.aside__color {
  background-color: $primaire;
  opacity: 0.7;
}
.aside__style {
  max-width: 1024px;
  margin: 0 auto;
  border-radius: 0 0 15px 15px;
  box-shadow: 10px 10px 10px lightgrey;
}
.fa-arrow-right {
  padding: 20px;
}

/* --------aside part --------- */
/* --------article part --------- */

.article__style {
  display: flex;
  flex-wrap: wrap;
  min-width: 250px;
  max-width: 1024px;
  min-height: 550px;
  margin: 25px auto;
  border-radius: 15px;
  box-shadow: 10px 10px 10px lightgrey;
}
.article__color {
  background-color: rgba(248, 236, 244, 0.7);
}
.img__box {
  margin: auto;
}
figure {
  text-align: center;
}
.img__1 {
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: lightgrey 10px 10px 10px;
}
/* --------article card---------- */
.article__card {
  text-align: center;
  background-color: white;
  min-width: 300px;
  max-width: 500px;
  min-height: 200px;
  margin: auto;
  border-radius: 15px;
  box-shadow: lightgrey 10px 10px 10px;
}
.btn__article {
  background-color: $secondaire;
  height: 40px;
  border-radius: 40px;
  margin: 10px auto;
  border: 2px black solid;
}
.btn__select {
  margin: 10px;
}
.btn__article:focus {
  outline: none;
  border: none;
}
#description-1 {
  padding: 10px;
}
/* --------article card---------- */
/* --------article part --------- */
//class for hide product list
.hidden__class {
  width: 0;
  height: 0;
  display: none;
}

/* -------text & button------- */
.welcome__text {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 26px;
  padding: 30px;
}
.asideDivBtn__style {
  width: 200px;
  height: 50px;
  margin: 0 10px;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 900;
}
.asideDivBtn__color {
  background-color: $secondaire;
  border-radius: 40px;
}
.asideDivBtn__style:focus {
  outline: none;
}

/* -------- java test------  */
#camera {
  background-color: lightsalmon;
}
#camera-description {
  background-color: lightseagreen;
}
#h2-camera {
  font-size: 18px;
}
/* --------product page-------- */
.main__product-style {
  text-align: center;
}

.product__h1-style {
  margin: 20px auto;
}
.product__section-style {
  min-width: 310px;
  max-width: 1240px;
  border-radius: 40px;
  margin: 0 auto 20px auto;
  text-align: center;
  background-color: $primaire;
  box-shadow: lightgrey 10px 10px 10px;
}
.product__article-style {
  display: flex;
  flex-wrap: wrap;
}
.product__text-style {
  min-width: 260px;
  max-width: 80%;
  margin: 8% auto;
}
#product__img {
  width: 310px;
  min-height: 310px;
  margin: 8% auto;
  border-radius: 40px;
  box-shadow: lightgrey 10px 10px 10px;
}
.product__description-style {
  max-width: 400px;
}
/* ---------------------cart--------------------- */
.article__cart {
  min-width: 300px;
  justify-content: space-around;
}
.empty__cart-font {
  font-size: 22px;
  color: brown;
  font-weight: bold;
}
.cart__box {
  background-color: white;
  margin: 15px auto;
  border-radius: 40px;
  box-shadow: lightgrey 10px 10px 10px;
}
.cart__img {
  margin: 10px auto;
  padding: 10px;
  width: 80px;
  height: 60px;
  border-radius: 40px;
  box-shadow: lightgrey 10px 10px 10px;
}
.cart__description {
  margin: 10px;
}
.btn__remove-style {
  height: 30px;
  width: 40px;
  margin: 0 0 10px 0;
  border-radius: 40px;
  box-shadow: lightgrey 10px 10px 10px;
  border: 2px lightgrey solid;
}
.cart__price-style,
.cart__form-style {
  display: flex;
  flex-direction: column;
  margin: 15px auto;
  text-align: center;
  min-height: 200px;
  background-color: white;
  min-width: 260px;
  border-radius: 40px;
  box-shadow: lightgrey 10px 10px 10px;
}

.form__style {
  width: 300px;
  margin: 0 auto;
}
//------------------------------------------------------
