@font-face {
  font-family: fh_faith;
  src: url(/front-end/Fonts/fh_faith.otf);
}

$primaire: #f8ecf4;
$secondaire: rgb(207, 191, 191);

.header__style,
.footer__style {
  min-width: 320px;
  height: 200px;
}
.header__display,
.footer__display {
  display: flex;
}
.header__color,
.footer__color {
  background-color: $secondaire;
}
.fa-arrow-circle-left {
  font-size: 20px;
  margin: 10px;
}
.logo__box-style {
  width: 250px;
  height: 80px;
  margin: auto 30px;
}
.logo__box-display {
  display: flex;
  background-color: $primaire;
}
.logo__image-style {
  width: 50px;
  height: 45px;
  margin: auto 0;
}
.logo {
  margin: 15px;
}
.brand__font {
  font-family: fh_faith;
  font-size: 35px;
}
.brand__font-style {
  margin: auto;
}
/* -----header & footer -------- */
/* ------- main part --------- */
.main__style {
  min-width: 320px;
}
.main__color {
  background-image: url(front-end/images/background__img.jpg);
  background-repeat: round;
  min-width: 320px;
  min-height: 400px;
}
/* --------section part-------- */
.section__style {
  min-width: 320px;
}
.section__aside {
  min-width: 320px;
  margin: 0 auto;
}
/* --------aside part --------- */
.aside__div-display {
  text-align: center;
  min-width: 250px;
  margin: 0 auto;
  padding: 100px 0;
}
.aside__color {
  background-color: $primaire;
  opacity: 0.7;
}
.aside__style {
  max-width: 1024px;
  height: 600px;
  margin: 0 auto;
}

/* --------aside part --------- */
/* --------article part --------- */

.article__style {
  display: flex;
  flex-wrap: wrap;
  min-width: 250px;
  max-width: 1024px;
  margin: 25px auto;
}
.article__color {
  background-color: rgba(248, 236, 244, 0.7);
}
.img__box {
  margin: auto;
}
figure {
  text-align: center;
}
.img__style {
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: lightgrey 10px 10px 10px;
}
/* --------article card---------- */
.article__card {
  text-align: center;
  background-color: white;
  min-width: 300px;
  max-width: 500px;
  height: 200px;
  margin: auto;
  border-radius: 15px;
  box-shadow: lightgrey 10px 10px 10px;
}
.btn__article {
  background-color: $secondaire;
  border-radius: 40px;
}
/* --------article card---------- */
/* --------article part --------- */

.hidden__class {
  width: 0;
  height: 0;
  visibility: hidden;
}

/* -------text & button------- */
.welcome__text {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 26px;
}
.asideDivBtn__style {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 900;
}
.asideDivBtn__color {
  background-color: $secondaire;
  border-radius: 40px;
  margin-top: 60px;
  position: relative;
}
